<div class="projects">
  <h1 class="title-projects">Trabalhos. Estudos.</h1>
  <h1 class="title-projects">Hobbies.</h1>
  <div class="row">
    <div class="col-md-auto">
      <div class=" card-project">
        <strong>To-do List</strong><br>
        Sistema para lista de afazeres.<br><br>
        <a type="button" target="_blank" href="https://to-do-list-v360-project.herokuapp.com/users/sign_in" class="demo">Demo</a>
        <a type="button" target="_blank" href="https://github.com/luiz-davi/todo_list" class="demo">Code</a>
      </div>
    </div>
    <div class="col-md-auto">
      <div class=" card-project">
        <strong>MyPage</strong><br>
        Meu cv online.<br><br>
        <a type="button" target="_blank" href="https://luiz-davi.herokuapp.com/" class="demo">Demo</a>
        <a type="button" target="_blank" href="https://github.com/luiz-davi/my-page" class="demo">Code</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-auto">
      <div class=" card-project">
        <strong>Pizza Delivery</strong><br>
        Gerenciamento de pedidos de pizza.<br><br>
        <a type="button" target="_blank" href="https://deliverypizza-es.herokuapp.com/" class="demo">Demo</a>
        <a type="button" target="_blank" href="https://github.com/esDeliveryOrganization/pizza-Delivery-system" class="demo">Code</a>
      </div>
    </div>
    <div class="col-md-auto">
      <div class=" card-project">
        <strong>Programas Acadêmicos</strong><br>
        Projeto destinado ao Gerenciamento de programas universitarios.<br><br>
        <a type="button" target="_blank" href="https://tjdv-programas-academicos.herokuapp.com/" class="demo">Demo</a>
        <a type="button" target="_blank" href="https://github.com/Projeto-Des-SW/tjdv_programas_academicos" class="demo">Code</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-auto">
      <div class=" card-project">
        <strong>FlashChat</strong><br>
        App para troca de mensagens.<br><br>
        <a type="button" target="_blank" href="https://github.com/luiz-davi/flash-chat-flutter" class="demo">Code</a>
      </div>
    </div>
    <div class="col-md-auto">
      <div class=" card-project">
        <strong>BitCoin Ticker</strong><br>
        App para converter moedas.<br><br>
        <a type="button" target="_blank" href="https://github.com/luiz-davi/bitcoin-ticker-flutter" class="demo">Code</a>
      </div>
    </div>
  </div>
</div>