.title-about{
  text-align: left;
  margin-left: 150px;
  font-weight: bold;
  font-size: 62px;
  background-image: linear-gradient(to top, #FF4500, #FFD700 );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: black;
}

.infos{
  margin-left: 50%;
  text-align: center;
}

.perfil{
  border-radius: 20px;
}

.about{
  text-align: justify;
}

.historic-title{
  text-align: left;
  margin-left: 150px;
}

.historic{
  text-align: left;
  width: 50%;
  margin-left: 150px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid gray;
}