<footer class="mt-auto">
  <div class="row justify-content-md-center">
    <a class="col-md-auto" href="https://www.instagram.com/luizdavi2/" toggle="_balnk">
      <%= image_tag '/images/instagram.png', width: 30%>
    </a>
      <a class="col-md-auto" href="https://www.linkedin.com/in/luizdmendes/">
      <%= image_tag '/images/linkedin.png', width: 30%>
    </a>
    <a class="col-md-auto" href="https://github.com/luiz-davi">
      <%= image_tag '/images/github.png', width: 30%>
    </a>
  </div>
</footer>