<header>
  <%= link_to image_tag('/images/home.png', size: "40x40"), root_path,  class:"icon-home" %>
  <div class="row justify-content-md-center">
    <a class="col-4 col-md-2 link-header" data-turbolinks="false" href=<%= about_path %> >ABOUT</a>
    <a class="col-4 col-md-2 link-header" data-turbolinks="false" href=<%= skills_path %> >SKILLS</a>
    <a class="col-4 col-md-2 link-header" data-turbolinks="false" href=<%= projects_path %> >PROJECTS</a>
  </div>
</header>
